.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.statsCounterText {
  font-family: 'Balham';
  font-size: 9px;
}

#map {
  height: 100%;
  width: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root > div {
  height: 100%;
}

#user {
  height: 50px;
  width: 50px;
}

.table-div{display:table}
.tr-div{display:table-row}
.td-div{display:table-cell;border:0px solid silver}

.mainContainer {
  background-image: url('./assets/ui/mw_background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.topContainer {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.leftTopContainer {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.rightTopContainer {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.screen {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.creatureContainer {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.userContainer {
  float: right;
  margin: 10px;
}

.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
}
/* background-color: rgba(0,0,0,0.5); */

.overlayScreen {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-width: 350px;
  margin: auto;
}

.overlayShown {
  animation: overlayFadeIn 1s;
}

@keyframes overlayFadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.overlayHidden {
  display: none;
  /*
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 1s, 0s;
  transition-delay: 0s, 1s;
  */
}

.limitWidth {
  margin: auto;
  max-width: 350px;
}

.footerMenu {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.headerButtonContainer {
  width: fit-content;
  margin: auto;
}

/* Common styles */

.highlightable {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 250ms ease-in-out;
}

.highlightable:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
