div.blinker {
  animation: color-blink 1s infinite; 
  opacity: 0.3;
}

@keyframes color-blink {
  0%, 25% {
    background-color: #c8ff00;
  }
  26%, 50% {
    background-color: #0af;
  }
  51%, 75% {
    background-color: #ff008c;
  }
  76%, 100% {
    background-color: #00ff80;
  }
}

div.hit-bleed {
  background-color:rgba(0, 0, 0, 0.0);
  animation: inset-red-animation 1.5s 1;
  pointer-events: none;
}

@keyframes inset-red-animation {
  0% {
    box-shadow:inset 0px 0px 0px 0px red;
  }
  50% {
    box-shadow:inset 0px 0px 200px 0px red;
  }
  100% {
    box-shadow:inset 0px 0px 0px 0px red;
  }
}

div.charge-mana {
  background-color:rgba(0, 0, 0, 0.0);
  animation: inset-charge-animation 5.0s infinite;
  pointer-events: none;
}

@keyframes inset-charge-animation {
  0% {
    box-shadow:inset 0px 0px 0px 0px cyan;
  }
  50% {
    box-shadow:inset 0px 0px 50px 0px cyan;
  }
  100% {
    box-shadow:inset 0px 0px 0px 0px cyan;
  }
}

div.infest {
  background-color:rgba(0, 0, 0, 0.0);
  animation: inset-infest-animation 1.0s infinite;
  pointer-events: none;
}

@keyframes inset-infest-animation {
  0% {
    box-shadow:inset 0px 0px 0px 0px green;
  }
  50% {
    box-shadow:inset 0px 0px 30px 0px green;
  }
  100% {
    box-shadow:inset 0px 0px 0px 0px green;
  }
}

div.infest-hard {
  background-color:rgba(0, 0, 0, 0.0);
  animation: inset-infest-hard-animation 1.0s infinite;
  pointer-events: none;
}

@keyframes inset-infest-hard-animation {
  0% {
    box-shadow:inset 0px 0px 0px 0px green;
  }
  50% {
    box-shadow:inset 0px 0px 120px 0px green;
  }
  100% {
    box-shadow:inset 0px 0px 0px 0px green;
  }
}

