@font-face {
  font-family: 'Balham';
  src: url('./assets/fonts/Balham.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'FirstV2';
  src: url('./assets/fonts/firstv2.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Voynich';
  src: url('./assets/fonts/eva1.ttf') format('truetype'); /* Safari, Android, iOS */
}
