.alchemyItem {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.alchemyItem > img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.alchemyItemsList {
  overflow: auto;
}

.alchemyItemBlocked > img {
  filter: grayscale(100%);
  opacity: 0.5;
}

.alchemyMixList {
  overflow: auto;
  position: relative;
  min-height: 70px;
}

.alchemyMixList > div:nth-child(1) {
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
}

.alchemyMixList > div:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.alchemyMixList > div:nth-child(3) {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
}

.alchemyResultList {
  overflow: auto;
  min-height: 60px;
}

.alchemyResultList > div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.alchemyName {
  font-size: 12px;
}

.hintText {
  float: left;
  transform: translateY(18px);
  font-size: 14px;
}

.hintContent {
  padding-left: 20px;
}

.alchemySectionText {
  font-family: "Balham";
  font-size: 20px;
  width: 100%;
  transform: translateX(10%);
  margin-bottom: 10px;
}
