.alertMessageContainer {
  width: 80%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('../assets/ui/mw_popup_bcg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alertMessageContainer > h1 {
  font-family: 'Balham';
  text-align: center;
  font-size: 25px;
  padding: 0px 15px;
}

.alertMessageContainer > h2 {
  font-family: 'Balham';
  text-align: center;
  font-size: 20px;
  padding: 0px 15px;
}

.alertMessageContainer img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-bottom: 15px;

  mask-image: url('../assets/ui/mw_item_mask_2.png');
  mask-size: 100% 100%;
}

.alertActionContainer {
  position: absolute;
  bottom: 10px;
  overflow: auto;
  width: 100%;
}

/* TODO: remove */
.alertActionContainer-old > div {
  width: fit-content;
  margin: auto;
}

.alertMessageContent {
  padding: 15px;
  margin: auto;
  width: fit-content;
}
