.mwbutton {
  background-image: url('../assets/ui/mw_button_normal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 5px;
  font-family: 'Balham';
  text-align: center;
}

.mwbuttonPlaceholder {
  width: 160px;
  height: 10px;
  display: inline-block;
}

.mwbutton:hover {
  background-image: url('../assets/ui/mw_button_down.png');
}

.mwbuttonContainer {
  background-image: url('../assets/ui/mw_button_bcg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  padding: 2px;
  display: inline-block;
}