.mwbuttonCellContainer {
  background-image: url('../assets/ui/mw_button_bcg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  display: table-cell;
}

.mwbuttonCellHolder {
  width: 90%;
  margin: auto;
  display: table;
}
