.screenFlexContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.screenTitleContainer {
  font-family: 'Balham';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.screenHeaderContainer {
  flex-grow: 0;
  margin: 5px;
}

.screenContentContainer {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5px;
}

.screenFooterContainer {
  flex-grow: 0;
  margin: 5px;
}