
.cookieContainer {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  background-color: rgb(35, 35, 35);
  color: rgb(200, 200, 200);
  font-family: 'Balham';
  line-height: 20px;
  opacity: 0.8;
}

.cookieText {
  height: fit-content;
  width: 70%;
  float: left;
}

.cookieText > div {
  padding: 10px;
}

.cookieButton {
  width: 30%;
  float: right;
}

.cookieButton > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cookieButton > div > div {
  padding: 5px 10px;
  background-color: rgb(200, 200, 200);
  color: rgb(35, 35, 35);
  border-radius: 3px;
  text-align: center;
}
