.fightContainer {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fightBackground {
  background-image: url('../assets/ui/mw_fight_behaviour_bcg2.png');
  width: 100%;
  height: 90px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.fightTarget {
  position: relative;
  transition: left 0.04s;
  transform: translate(-30px, -30px);
  top: 50%;
}

.fightSpellContainer {
  clear: both;
}

.fightSpellItem {
  display: block;
}

.fightSpellItemText {
  display: inline-block;
  transform: translateY(-20px) translateX(10px);
  font-size: 20px;
  font-family: "Balham";
}

.fightSpellItemImage {
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.hit-wave {
  height: 100%;
  position: absolute;
}

.hit-wave-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: hit-wave-move 0.5s 1;
}


/*
  $offset: ((($option-size * $explosion-distance) - $option-size) / 2);
      @include size($option-size);
      @include size($option-size*$explosion-distance);
*/
@keyframes hit-wave-move {
  
  0% {
    left: 49%;
    width: 2%;
    opacity: 0.7;
  }
  
  100% {
    left: 0%;
    width: 100%;
    opacity: 0;
  }
}