.horizontalBarContainer {
  position: relative;
  border: 1px solid black;
  padding: 0px;
}

.horizontalBarContainer > div {
  border: 0px;
  float: left;
}

.overflowPart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.leftBarPart {
  background: url('../assets/ui/mw_bar_shade.png');
  background-repeat: no-repeat;
}

.healthBar .leftBarPart {
  background-color: #FF0000;
}

.healthBar .rightBarPart {
  background-color: #330000;
}

.manaBar .leftBarPart {
  background-color: #0000FF;
}

.manaBar .rightBarPart {
  background-color: #000033;
}

.expBar .leftBarPart {
  background-color: #00FF00;
}

.expBar .rightBarPart {
  background-color: #003300;
}
