.inventoryItem {
  padding: 3px;
  display: block;
}

.inventoryImage {
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.inventoryText {
  display: inline-block;
  transform: translateY(-20px) translateX(10px);
  font-size: 20px;
  font-family: "Balham";
}

.inventoryCounter {
  display: inline-block;
  font-size: 15px;
  transform: translateX(5px);
  font-weight: bold;
}
