.itemDetailsContent img {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  mask-image: url('../assets/ui/mw_item_mask_2.png');
  mask-size: 100% 100%;
}

.itemDetailsText {
  padding-left: 20px;
  padding-right: 20px;
}