.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.loading-text {
  margin-top: 15px;
  color: #aaa;
  font-family: 'Balham';
  font-weight: bold;
}

.loading-logo {
  filter: drop-shadow(0px 0px 3px #fff);
  animation: logo-spin 8s linear infinite;
}
@keyframes logo-spin { 100% { transform:rotate(360deg); } }
