#mwtoast {
  position: absolute;
  left: 5%;
  top: 0px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
}

.toastMessage {
  opacity: 0.7;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
  border: none;
  font-family: 'Balham';
  user-select: none;
}

.toastMessageInfo {
  background-color: rgba(51, 51, 51, 0.7);
  color: #ccc;
}

.toastMessageError {
  background-color: rgba(120, 10, 10, 0.7);
  color: #e88;
}

.fadeOut {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.fadeInOut {
  opacity: 0;
  animation: fade 5s linear;
}

.mwtoastImg {
  width: 25px;
  height: 25px;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  10%,90% { opacity: 1 }
}
