.questListContainer > li {
  display: flex;
}

.questListContainer img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 20px;
}

.questListContainer .text {
  height: fit-content;
  margin: auto 0;
}
