.creatureImage {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.playerStatsName {
  width: 150px;
  overflow: hidden;
}

.playerStatsBar {
  margin-top: 5px;
  float: left;
}

.playerStatsLabel {
  width: 40px;
  margin-top: 5px;
  float: left;
  clear: left;
  font-size: 12px;
  font-family: 'Balham';
}