div.mapContainer {
  position: relative;
  height: 100%;
  overflow: hidden;

  border-style: inset;
  border: 1px solid black;
}

img.mapTile {
  position: absolute;
  width: 256px;
  height: 256px;
}

img.devTile {
  border-style: inset;
  border: 1px solid black;
}

.mapOutlineCircleMarker {
  position: absolute;
  border-radius: 50%;
  color: blue;
  border: 5px solid;
  pointer-events: none;
}

.mapCircleMarker {
  position: absolute;
  border-radius: 50%;
  border: none;
  pointer-events: none;
}
