.statsContentContainer {
  font-family: 'Balham'
}

.statsSlider {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.statsItem {
  width: 75px;
  height: 75px;
  padding: 5px;

  mask-image: url('../assets/ui/mw_item_mask_3.png');
  mask-size: 100% 100%;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  width: 5px;
  display: block;
}
